# cpp
.o
.out
.exe
a.out

# C++
*.a
*.so
*.o
*.out

#Cmake
*.cmake
CMakeCache.txt
CMakeFiles

# Ignore files without extensions
main
p2_demo1
Exe01
Exe02
Exe03
Exe04
Exe05
Exe06
lab08/lab08_cpp
lab08/lab08_avx2
lab08/lab08_avx2_omp
